target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/misc.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/out/production/SP3_GruppeArb/Main.class
/out/production/SP3_GruppeArb/AMedia.class
/out/production/SP3_GruppeArb/AMenu.class
/out/production/SP3_GruppeArb/AUser.class
/out/production/SP3_GruppeArb/FileIO.class
/out/production/SP3_GruppeArb/IO.class
/out/production/SP3_GruppeArb/MainMenu.class
/out/production/SP3_GruppeArb/Media.class
/out/production/SP3_GruppeArb/Menu.class
/out/production/SP3_GruppeArb/Movie.class
/out/production/SP3_GruppeArb/RegularUser.class
/out/production/SP3_GruppeArb/Series.class
/out/production/SP3_GruppeArb/StartMenu.class
/out/production/SP3_GruppeArb/StreamingService.class
/out/production/SP3_GruppeArb/TextUI.class
/out/production/SP3_GruppeArb/User.class
